.root {
  display: block;
}

.unit {
  display: inline;
  white-space: pre;
  will-change: font-size, font-family, font-weight, letter-spacing;
}

.ref {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  white-space: pre;
}
