.root {
  background: var(--token-doCHQ9G8_OsB);
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__vkrYp {
  animation: none;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.navBanner:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  min-width: 0;
}
.section {
  animation: none;
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-OBRata9djSd9) 0;
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section {
    animation: none;
  }
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__cPalv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-OBRata9djSd9);
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__cPalv {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-OBRata9djSd9);
    column-gap: 0px;
  }
}
.inkBleed__pfiky:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.stickerPeel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
  transform: rotate3d(5, 0, 1, 3deg);
  min-width: 0;
}
@media (max-width: 640px) {
  .stickerPeel:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__bN1Qq {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-Fy7olHbm4g2T);
  min-width: 0;
  padding: var(--token-K0mS66ClT3RA);
}
.h4 {
  color: var(--token-Xz3Y2ivpCIFG);
  animation: none;
  width: 100%;
  min-width: 0;
}
.text__vMy0B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 12px;
  min-width: 0;
}
.text__b0Lb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 12px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__eXrn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 12px;
  min-width: 0;
}
.offsetImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 350px;
  flex-shrink: 0;
}
.image__y9G8U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.image__ovGqM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__gOzt9 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__gOzt9 {
    row-gap: var(--token-Fy7olHbm4g2T);
    column-gap: 0px;
  }
}
.inkBleed__omQmK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: auto;
  top: 95px;
  z-index: 4;
}
@media (max-width: 640px) {
  .inkBleed__omQmK:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.link {
  display: flex;
}
.scotchTape:global(.__wab_instance) {
  width: 120px;
  height: 40px;
  max-width: 100%;
  object-fit: cover;
  background:
    linear-gradient(28.772849334703665deg, #cebee380 0%, #ddea4480 100%),
    var(--token-aXuLypa7xfma);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .scotchTape:global(.__wab_instance) {
    background: var(--token-6U10-UCl9glp);
  }
}
.image__uI8GR:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.footer:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
