.root:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.image__pyNj:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  height: 90px;
  width: auto;
}
.image__qzFpC:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  height: 90px;
  width: auto;
}
.noiseOverlay__v9C7N:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.noiseOverlay__h3DLe:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
