.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-YYvB1fK9j_le);
  min-width: 0;
}
.ariaTextField[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__wgs2E {
  display: flex;
  flex-direction: column;
}
.freeBox__cy8Ig {
  flex-direction: row;
  position: absolute;
  height: var(--token-Hz0fOyGHTSJT);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-XHco1EwF-9E0) var(--token-5ylaoG25mAaq);
}
.freeBoxiconStart__cy8IgKfLs {
  display: flex;
}
.slotTargetStart {
  color: var(--token-eyE9hVpiBRkZ);
}
.svg__y4CDg {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox___2FvLt {
  height: var(--token-Hz0fOyGHTSJT);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-XHco1EwF-9E0) var(--token-5ylaoG25mAaq);
}
.freeBoxiconEnd___2FvLtohmrW {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-eyE9hVpiBRkZ);
}
.svg__dJXik {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
