.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-doCHQ9G8_OsB);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--token-GpKDDbwq26at);
  font-size: var(--token-g6xRGSOpmOY4);
  line-height: var(--token-0BpAuOlR_ryf);
  outline-style: none;
  text-decoration-line: none;
  min-width: var(--token-UHzC1QpoO0wt);
  overflow: hidden;
  width: auto;
  justify-self: flex-start;
  justify-content: center;
  column-gap: var(--token-JFSS6sSimwWg);
  align-items: center;
  border-radius: var(--token-yBp3zIJjjXFk);
  padding: var(--token-Fy7olHbm4g2T) var(--token-iwe0xEFQVBJd);
  border-width: 0px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-sI0doLVCLIee);
  outline-offset: 2px;
  outline-color: var(--token-agy5aRCyRncG);
}
.root[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  background: var(--token-g9z2pwocfSZz);
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-OVGehJbU725h);
}
.rootcolor_peach:global(.__wab_instance) {
  background: var(--token-5QKIfNB0tRzE);
}
.rootcolor_blue:global(.__wab_instance) {
  background: var(--token-WRRVAbe826uH);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-00ZC59bwBMiJ);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-sYHyNu91eB1F);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-2ODnTNYKqGl8);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-3KmqYMiXkSna);
  line-height: var(--token-Idb349pdoUCx);
  column-gap: var(--token-YYvB1fK9j_le);
  row-gap: 0px;
  border-radius: var(--token-f5tAU2MiM7kI);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-WOevqGcFVy0i);
  line-height: var(--token-A2j3-JqnAka1);
  box-shadow: none;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootcolor_peach_type_soft:global(.__wab_instance) {
  background: var(--token-5QKIfNB0tRzE);
}
.rootcolor_blue_type_soft:global(.__wab_instance) {
  background: var(--token-WRRVAbe826uH);
}
.hover {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  bottom: 0;
  mix-blend-mode: color;
  border-radius: var(--token-yBp3zIJjjXFk);
  padding: 8px;
}
.root[data-hovered] .hover {
  background: var(--token-WRRVAbe826uH);
  opacity: 0.2;
}
.root[data-pressed] .hover {
  background: var(--token-WRRVAbe826uH);
  opacity: 0.75;
}
.root[data-disabled] .hover {
  background: var(--token-OtOfpI-FGkX1);
}
.freeBox___1It5P {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root[data-hovered] .freeBox___1It5P {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.root[data-pressed] .freeBox___1It5P {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.root[data-disabled] .freeBox___1It5P {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.freeBoxtype_bordered___1It5P5SkK9 {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.roottype_bordered[data-hovered] .freeBoxtype_bordered___1It5P5SkK9 {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.freeBox__fPc5S {
  animation: none;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  border-radius: var(--token-yBp3zIJjjXFk);
  padding: 0px;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #dbeafe;
  border-radius: var(--token-XHco1EwF-9E0);
}
.softBackgroundcolor_neutral {
  background: #e5e7eb;
}
.softBackgroundcolor_blue {
  background: #f3f4f6;
}
.softBackgroundcolor_success {
  background: var(--token-9Y80DAhUfJ29);
}
.softBackgroundcolor_warning {
  background: var(--token-Y_1wgX-aJbFG);
}
.softBackgroundcolor_errorDestructive {
  background: #fee2e2;
}
.softBackgroundtype_soft {
  background: var(--token-aXuLypa7xfma);
  display: block;
  border-radius: var(--token-yBp3zIJjjXFk);
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  background: var(--token-OVGehJbU725h);
  display: none;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  background: var(--token-xfXrF6IuLHLl);
  display: none;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.softBackgroundcolor_neutral_type_soft {
  background: var(--token-6U10-UCl9glp);
}
.softBackgroundcolor_peach_type_soft {
  mix-blend-mode: soft-light;
}
.softBackgroundcolor_blue_type_soft {
  mix-blend-mode: screen;
  background:
    linear-gradient(var(--token-HvtSPSdy-1oc), var(--token-HvtSPSdy-1oc)),
    var(--token-aXuLypa7xfma);
}
.softBackgroundcolor_success_type_soft {
  background: var(--token-DaYyFU8bZ15H);
}
.softBackgroundcolor_warning_type_soft {
  background: var(--token-wPzyj51eA6py);
}
.softBackgroundcolor_errorDestructive_type_soft {
  background: var(--token-PK6gG5x9dq9c);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-XHco1EwF-9E0);
  border: 0px solid #93c5fd;
}
.bordercolor_neutral {
  border-color: #d1d5db;
}
.bordercolor_blue {
  border-color: #e5e7eb;
}
.bordercolor_success {
  border-color: var(--token-ZB01NP9XEMC5);
}
.bordercolor_warning {
  border-color: var(--token-IHehvpDWq8un);
}
.bordercolor_errorDestructive {
  border-color: #fca5a5;
}
.bordertype_bordered {
  background: none;
  display: block;
  border-radius: var(--token-yBp3zIJjjXFk);
  border-width: 1px;
  border-color: var(--token-doCHQ9G8_OsB);
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.bordertype_bordered_color_neutral {
  border-color: var(--token-HVmbyCCDRVIn);
}
.bordertype_bordered_color_peach {
  border-color: var(--token-992h0dWAO8S0);
}
.bordertype_bordered_color_blue {
  border-color: var(--token-IMo3F8MR-_qL);
}
.bordertype_bordered_color_success {
  border-color: var(--token-ujy8GnR0sXV_);
}
.bordertype_bordered_color_warning {
  border-color: var(--token-LHpUXyF_jkWD);
}
.bordertype_bordered_color_errorDestructive {
  border-color: var(--token-WHUhtt3QNph3);
}
.freeBox__lahjq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-JFSS6sSimwWg);
  min-width: var(--token-UHzC1QpoO0wt);
  min-height: var(--token-jduBXnCvbMbO);
}
.freeBoxsize_small__lahjqsaeEw {
  padding: var(--token-XHco1EwF-9E0) var(--token-6y05U5qu5bTJ);
}
.freeBoxsize_large__lahjqxrPNg {
  padding-top: var(--token-YYvB1fK9j_le);
  padding-bottom: var(--token-YYvB1fK9j_le);
}
.freeBoxroundedFull__lahjqvTdeN {
  padding-right: var(--token-zlKCr218vPjz);
  padding-left: var(--token-zlKCr218vPjz);
}
.freeBox___9KkaF {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___9KkaFPA0C {
  display: flex;
}
.slotTargetStart {
  color: var(--token-zT50wK_s6GQj);
}
.slotTargetStartcolor_neutral {
  color: #f9fafb;
}
.slotTargetStartcolor_blue {
  color: #e5e7eb;
}
.slotTargetStartcolor_success {
  color: var(--token-ChiLChn_Wqw6);
}
.slotTargetStartcolor_warning {
  color: var(--token-YvuBBVpez404);
}
.slotTargetStartcolor_errorDestructive {
  color: #fef2f2;
}
.slotTargetStarttype_soft {
  color: #1e3a8a;
}
.slotTargetStarttype_bordered {
  color: #1e3a8a;
}
.slotTargetStartsize_small {
  font-size: var(--token-M7okz5-SEo6w);
}
.slotTargetStartsize_large {
  font-size: var(--token-WOevqGcFVy0i);
}
.slotTargetStarttype_bordered_color_neutral {
  color: #111827;
}
.slotTargetStarttype_bordered_color_blue {
  color: #6b7280;
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-7crWCh4Jk9Bk);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-7crWCh4Jk9Bk);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-hhc56eKcGP0E);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-hhc56eKcGP0E);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: #7f1d1d;
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: #7f1d1d;
}
.svg__otinb {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-xfXrF6IuLHLl);
  font-size: var(--token-g6xRGSOpmOY4);
  font-weight: 500;
}
.root[data-disabled] .slotTargetLabel {
  color: var(--token-K3ZWhgfxI5lx);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-B0qKLpHjT84g);
}
.slotTargetLabelcolor_blue {
  color: var(--token-6U10-UCl9glp);
}
.slotTargetLabelcolor_success {
  color: var(--token-DaYyFU8bZ15H);
}
.slotTargetLabelcolor_warning {
  color: var(--token-B0qKLpHjT84g);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-B0qKLpHjT84g);
}
.slotTargetLabeltype_soft {
  color: var(--token-zT50wK_s6GQj);
}
.slotTargetLabeltype_bordered {
  color: var(--token-Xz3Y2ivpCIFG);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: #111827;
}
.slotTargetLabeltype_bordered_color_peach {
  color: var(--token-MFPOx0UkTdiH);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-7crWCh4Jk9Bk);
}
.slotTargetLabeltype_bordered_color_blue {
  color: var(--token-WRRVAbe826uH);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-hhc56eKcGP0E);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-To3aYo43ayBk);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: #7f1d1d;
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-HoBrmvcgq4Uk);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-fvWf6xfcOD5A);
}
.text__pndxP {
  white-space: pre;
  z-index: 55;
}
.freeBox__oEbX6 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__oEbX6NbKdZ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-zT50wK_s6GQj);
}
.slotTargetEndcolor_neutral {
  color: #f9fafb;
}
.slotTargetEndcolor_blue {
  color: #e5e7eb;
}
.slotTargetEndcolor_success {
  color: var(--token-ChiLChn_Wqw6);
}
.slotTargetEndcolor_warning {
  color: var(--token-YvuBBVpez404);
}
.slotTargetEndcolor_errorDestructive {
  color: #fef2f2;
}
.slotTargetEndtype_soft {
  color: #1e3a8a;
}
.slotTargetEndtype_bordered {
  color: #1e3a8a;
}
.slotTargetEndsize_small {
  font-size: var(--token-M7okz5-SEo6w);
}
.slotTargetEndsize_large {
  font-size: var(--token-WOevqGcFVy0i);
}
.slotTargetEndtype_bordered_color_neutral {
  color: #111827;
}
.slotTargetEndtype_bordered_color_blue {
  color: #6b7280;
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-7crWCh4Jk9Bk);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-7crWCh4Jk9Bk);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-hhc56eKcGP0E);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-hhc56eKcGP0E);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: #7f1d1d;
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: #7f1d1d;
}
.svg___08QHn {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
