.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.navBanner:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  z-index: 9;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  z-index: 1;
  grid-row-gap: var(--token-OBRata9djSd9);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-OBRata9djSd9) var(--token-Exqtdtc1L1Pg)
    var(--token-RbgYmGUTHvB4);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section {
    grid-row-gap: var(--token-K0mS66ClT3RA);
    padding: var(--token-K0mS66ClT3RA) var(--token-K0mS66ClT3RA)
      var(--token-OBRata9djSd9);
  }
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.inkBleed__w1Fg3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-Fy7olHbm4g2T);
}
.h1__dEIn {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .h1__dEIn {
    text-align: center;
    padding-top: 0px;
    font-size: 42px;
  }
}
.text__k5GCq {
  font-family: var(--token-GpKDDbwq26at);
  font-size: var(--token-g6xRGSOpmOY4);
  font-weight: 500;
  line-height: var(--token-0BpAuOlR_ryf);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__k5GCq {
    text-align: center;
  }
}
.freeBox__vwvDf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 640px) {
  .freeBox__vwvDf {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__guwKn {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  top: -11px;
  left: 15px;
  z-index: 1;
  backdrop-filter: none;
  filter: drop-shadow(2px 2px 5px var(--token-WYpfNa69vqXU));
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  -webkit-backdrop-filter: none;
}
@media (max-width: 640px) {
  .freeBox__guwKn {
    transform: scale3d(0.5, 0.5, 1);
    top: 12px;
    left: -96px;
  }
}
.scotchTape__zW6G7:global(.__wab_instance) {
  width: auto;
  height: auto;
  object-fit: cover;
  box-shadow: none;
  backdrop-filter: drop-shadow(10px 10px 10px var(--token-WYpfNa69vqXU));
  -webkit-backdrop-filter: drop-shadow(
    10px 10px 10px var(--token-WYpfNa69vqXU)
  );
}
.freeBox__w6N4P {
  background: none;
  display: block;
  width: 280px;
  height: 45px;
}
.noiseOverlay___5KlR5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__uYdZi {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      56.50867151492116deg,
      #cebee380 0%,
      #eadbc280 100%
    )
    0% 0% / 100% 100% repeat;
}
.freeBox__khFcW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-RbgYmGUTHvB4);
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__khFcW {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0px;
    row-gap: 0px;
  }
}
.mockupFrame__lP8Le:global(.__wab_instance) {
  width: 750px;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .mockupFrame__lP8Le:global(.__wab_instance) {
    width: 450px;
    height: auto;
    flex-shrink: 0;
  }
}
.image__uYs4V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: var(--token-ZnyuqcLxfhoc);
  height: auto;
}
.mockupFrame__aHx37:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 200px;
  flex-shrink: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .mockupFrame__aHx37:global(.__wab_instance) {
    width: 100px;
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    margin-left: -82px;
    margin-top: 79px;
    flex-shrink: 0;
  }
}
.image__zDmVu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: var(--token-ZnyuqcLxfhoc);
  height: auto;
}
.inkBleed__kEgfE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-iwe0xEFQVBJd);
}
@media (max-width: 640px) {
  .inkBleed__kEgfE:global(.__wab_instance) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__ij00G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-iwe0xEFQVBJd);
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__ij00G {
    column-gap: var(--token-iwe0xEFQVBJd);
    row-gap: 0px;
  }
}
.stickerPeel___6TUw:global(.__wab_instance) {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}
@media (max-width: 640px) {
  .stickerPeel___6TUw:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__uyBuw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-Fy7olHbm4g2T);
  min-width: 0;
  padding: var(--token-K0mS66ClT3RA);
}
@media (max-width: 640px) {
  .freeBox__uyBuw {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-JFSS6sSimwWg);
    column-gap: 0px;
    padding: var(--token-iwe0xEFQVBJd);
  }
}
.text__cw4Xd {
  color: var(--token-Xz3Y2ivpCIFG);
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-wHWUe9cv-ZA_);
  font-size: var(--token-FA1vUWAz-lAE);
}
@media (max-width: 640px) {
  .text__cw4Xd {
    font-size: 2.75rem;
  }
}
.scotchTape__a8M5A:global(.__wab_instance) {
  width: auto;
  height: 40px;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__cFok7 {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--token-doCHQ9G8_OsB);
}
.freeBox__i3Bf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 12px;
}
.text__mRxNw {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.stickerPeel__omLqs:global(.__wab_instance) {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}
@media (max-width: 640px) {
  .stickerPeel__omLqs:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__z9OYc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-Fy7olHbm4g2T);
  margin: var(--token-K0mS66ClT3RA);
}
@media (max-width: 640px) {
  .freeBox__z9OYc {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-JFSS6sSimwWg);
    column-gap: 0px;
    margin: var(--token-iwe0xEFQVBJd);
  }
}
.text__qvi0E {
  color: var(--token-LZwagUW71jsO);
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-wHWUe9cv-ZA_);
  font-size: var(--token-FA1vUWAz-lAE);
}
@media (max-width: 640px) {
  .text__qvi0E {
    font-size: 2.75rem;
  }
}
.scotchTape__clgJm:global(.__wab_instance) {
  width: auto;
  height: 40px;
  object-fit: cover;
  min-width: 120px;
}
.freeBox__bk0Ax {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--token-aXuLypa7xfma);
}
.freeBox__ipXgt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: var(--token-1UJSXjsZSpe7);
}
.text__gjuFe {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
}
.freeBox__uJHta {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__mxPdE {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 0;
  margin-top: -48px;
  right: 0;
  bottom: 0;
}
.freeBox___2ErQb {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-6U10-UCl9glp);
  min-width: 0;
  min-height: 0;
  margin: -28px;
}
.freeBox__g9Baj {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.tornSection__iKau3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  transition-property: all;
  transition-duration: 1s;
  filter: drop-shadow(10px -2px 5px var(--token-WYpfNa69vqXU));
  pointer-events: none;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__hZrFm {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__zmnBa {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.noiseOverlay___7Mqe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.noiseOverlay__xl9N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.marqueeScroll2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin-top: -10px;
  margin-bottom: -10px;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .marqueeScroll2:global(.__wab_instance):global(.__wab_instance) {
    margin-top: -10px;
    margin-bottom: -10px;
  }
}
.content {
  background: var(--token-QQ6ClAm082fZ);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.tornSection__zIrOe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__dUs0P {
  color: var(--token-B0qKLpHjT84g);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-OBRata9djSd9);
  min-width: 0;
  padding: var(--token-RbgYmGUTHvB4) 120px;
}
@media (max-width: 640px) {
  .freeBox__dUs0P {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-K0mS66ClT3RA);
    column-gap: 0px;
    padding: var(--token-OBRata9djSd9) var(--token-iwe0xEFQVBJd);
  }
}
.freeBox__ruEh {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 33%;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__ruEh {
    max-width: 100%;
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__boFA {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eElJj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.richText___83IhR:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-6U10-UCl9glp);
}
.freeBox__dbZfs {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__eWpTj {
  background: var(--token-c2hVMrY7CCPE);
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
}
.freeBox__dpWFz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-RbgYmGUTHvB4) var(--token-Exqtdtc1L1Pg);
}
@media (max-width: 640px) {
  .freeBox__dpWFz {
    padding: var(--token-OBRata9djSd9) var(--token-K0mS66ClT3RA);
  }
}
.caseStudyGallery:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.tornSection__qDtrA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___2Ejm4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-OBRata9djSd9);
  min-width: 0;
  padding: var(--token-RbgYmGUTHvB4) 120px;
}
@media (max-width: 640px) {
  .freeBox___2Ejm4 {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-K0mS66ClT3RA);
    column-gap: 0px;
    padding: var(--token-OBRata9djSd9) var(--token-iwe0xEFQVBJd);
  }
}
.freeBox__vsd1K {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 33%;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__vsd1K {
    max-width: 100%;
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__fpDxt {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eNliv {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.richText__iqZjw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___9Uwsn {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__bhWN {
  background: var(--token-6U10-UCl9glp);
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: -32px;
  bottom: 0px;
  min-width: 0;
}
.tornSection__nbFif:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-6U10-UCl9glp);
  padding-bottom: var(--token-QaKSUqLet13R);
}
.freeBox__qnpEn {
  color: var(--token-B0qKLpHjT84g);
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-OBRata9djSd9);
  min-width: 0;
  padding: var(--token-RbgYmGUTHvB4) 120px;
}
@media (max-width: 640px) {
  .freeBox__qnpEn {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-K0mS66ClT3RA);
    column-gap: 0px;
    padding: var(--token-OBRata9djSd9) var(--token-iwe0xEFQVBJd);
  }
}
.freeBox__syJWs {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 33%;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__syJWs {
    max-width: 100%;
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__lHy9C {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xYfwW {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.richText___7NaZj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-6U10-UCl9glp);
}
.freeBox___0O1Sz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px var(--token-Exqtdtc1L1Pg);
}
@media (max-width: 640px) {
  .freeBox___0O1Sz {
    left: auto;
    top: auto;
    padding: var(--token-iwe0xEFQVBJd);
  }
}
.freeBox__gW8Kq {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  top: -15px;
  left: auto;
  z-index: 1;
  transition-property: all;
  transition-duration: 1s;
  backdrop-filter: none;
  filter: drop-shadow(2px 2px 5px var(--token-WYpfNa69vqXU));
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  right: auto;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.scotchTape__nXVw6:global(.__wab_instance) {
  width: auto;
  height: auto;
  object-fit: cover;
  box-shadow: none;
  backdrop-filter: drop-shadow(10px 10px 10px var(--token-WYpfNa69vqXU));
  -webkit-backdrop-filter: drop-shadow(
    10px 10px 10px var(--token-WYpfNa69vqXU)
  );
}
.freeBox___7JhmI {
  background: none;
  display: block;
  width: 240px;
  height: 45px;
}
@media (max-width: 640px) {
  .freeBox___7JhmI {
    width: 120px;
  }
}
.noiseOverlay__jwthi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__tvyy9 {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      258.24040222280803deg,
      var(--token-doCHQ9G8_OsB) 0%,
      #eadbc280 100%
    )
    0% 0% / 100% 100% repeat;
}
.inkBleed___0Oi2F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.image__naLk6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__bSePw {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  transition-property: all;
  transition-duration: 1s;
  backdrop-filter: none;
  filter: drop-shadow(2px 2px 5px var(--token-WYpfNa69vqXU));
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  right: auto;
  bottom: -22px;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 640px) {
  .freeBox__bSePw {
    display: none;
  }
}
.scotchTape__f5692:global(.__wab_instance) {
  width: auto;
  height: auto;
  object-fit: cover;
  box-shadow: none;
  backdrop-filter: drop-shadow(10px 10px 10px var(--token-WYpfNa69vqXU));
  -webkit-backdrop-filter: drop-shadow(
    10px 10px 10px var(--token-WYpfNa69vqXU)
  );
}
.freeBox__rpPu {
  background: none;
  display: block;
  width: 320px;
  height: 45px;
}
@media (max-width: 640px) {
  .freeBox__rpPu {
    width: 132px;
  }
}
.noiseOverlay__cfPcy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__c5TxU {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(279.361488168965deg, #52a15980 0%, #cebee380 100%)
    0% 0% / 100% 100% repeat;
}
.freeBox__gKldi {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__oTjky {
  background: var(--token-c2hVMrY7CCPE);
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: -32px;
  bottom: 0px;
  min-width: 0;
}
.text__rHYxR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__cZtDk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.marqueeScroll:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  margin: -10px;
}
.footer:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: -24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 640px) {
  .footer:global(.__wab_instance):global(.__wab_instance) {
    margin-top: -12px;
  }
}
