.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-c2hVMrY7CCPE);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.navBanner:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 9;
  position: sticky;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.columns {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: var(--token-Exqtdtc1L1Pg) var(--token-hddkmJVrCNfu)
    var(--token-aRWQsRb09ChY);
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 640px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--token-OBRata9djSd9);
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: var(--token-OBRata9djSd9) var(--token-K0mS66ClT3RA);
  }
}
@media (max-width: 640px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2GzTv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  row-gap: var(--token-iwe0xEFQVBJd);
  min-width: 0;
}
.freeBox__rt7Me {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-JFSS6sSimwWg);
  min-width: 0;
}
.svg__aXyVm {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aXuLypa7xfma);
  height: 1em;
}
.h4 {
  color: var(--token-EHK3VtxZXRAx);
}
.svg__ry5WG {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aXuLypa7xfma);
  height: 1em;
}
.h1___2PyZv {
  font-family: var(--token-wHWUe9cv-ZA_);
  font-size: var(--token-7_hg3AFldtEz);
  font-weight: 400;
  line-height: var(--token--O7I77D1TvzD);
  color: var(--token-B0qKLpHjT84g);
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wlB8S {
  color: var(--token-B0qKLpHjT84g);
  font-family: var(--token-GpKDDbwq26at);
  font-size: var(--token-g6xRGSOpmOY4);
  font-weight: 500;
  line-height: var(--token-0BpAuOlR_ryf);
  align-self: center;
  width: 100%;
  min-width: 0;
}
.floatingElement__phqx3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  position: absolute;
  left: -77px;
  top: -53px;
}
.offsetShape__vCwh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.svg__hwk3K {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 100%;
  min-height: 0;
}
.floatingElement__zri9C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  position: absolute;
  left: auto;
  top: auto;
  bottom: -60px;
  right: -67px;
}
.offsetShape__kty4F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.svg__qKs5S {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 100%;
  min-height: 0;
}
.offsetImage__butHq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.button__fgFa1:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox5 {
  animation: none;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 1;
  background: #000000;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-yBp3zIJjjXFk);
  padding: 0px;
}
.svg__pssQn {
  position: relative;
  height: 1em;
}
.text__vbMxN {
  white-space: pre;
  z-index: 5;
  color: #ffffff;
}
.svg__v3HEj {
  position: relative;
  z-index: 6;
  color: #ffffff;
  height: 1em;
}
.freeBox6 {
  animation: none;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 5;
  background: #000000;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-yBp3zIJjjXFk);
  padding: 0px;
}
.column___77LZa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .column___77LZa {
    padding-top: var(--token-iwe0xEFQVBJd);
    padding-bottom: var(--token-iwe0xEFQVBJd);
  }
}
.floatingElement__kBxv9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.offsetCmyk__sTgZh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 348px;
  height: 100%;
  min-height: 0;
}
.image__uPw9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.scrollMarquee__ptFg2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  margin: -8px;
}
.offsetCmyk__pmkl0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 90px;
  width: 1200px;
}
.image__kzDws:global(.__wab_instance) {
  max-width: 100%;
}
.offsetCmyk__u44F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 90px;
  width: 1200px;
}
.image___7LiOg:global(.__wab_instance) {
  max-width: 100%;
}
.section {
  background: var(--token-1eLMIVqDoDbF);
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: var(--token-OBRata9djSd9);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-jWov7Jl9cj7m) var(--token-Exqtdtc1L1Pg);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section {
    padding: var(--token-OBRata9djSd9) var(--token-K0mS66ClT3RA);
  }
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__jkuRf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-Fy7olHbm4g2T);
  min-width: 0;
}
.inkBleed__c3Ucr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h1__v75DS {
  color: var(--token-B0qKLpHjT84g);
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__os7Jm {
  color: var(--token-B0qKLpHjT84g);
  font-family: var(--token-GpKDDbwq26at);
  font-size: var(--token-g6xRGSOpmOY4);
  font-weight: 500;
  line-height: var(--token-0BpAuOlR_ryf);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__mlmSe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.cmsPaginationContext__lxs57:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 1;
  overflow: visible;
  width: 100%;
  min-width: 0;
}
.cmsDataFetcher___0VZb:global(.__wab_instance) {
  width: 100%;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  z-index: 2;
  height: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--token-aRWQsRb09ChY);
  grid-row-gap: var(--token-aRWQsRb09ChY);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto auto;
  min-width: 0;
}
@media (max-width: 640px) {
  .cmsDataFetcher___0VZb:global(.__wab_instance) {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-iwe0xEFQVBJd);
    column-gap: 0px;
  }
}
.stickerPeel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  filter: blur(0px) drop-shadow(5px 0px 10px var(--token-WYpfNa69vqXU));
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-s4DGlSnsJpWF);
}
.freeBox__o20Od {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  filter: none;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-7usfeyN57SGU);
  border: 1px solid var(--token-WYpfNa69vqXU);
}
@media (max-width: 640px) {
  .freeBox__o20Od {
    height: 475px;
  }
}
.tornSection__xeClH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 2;
  filter: blur(0px);
  width: 100%;
  min-width: 0;
}
.freeBox__u892S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-JFSS6sSimwWg);
  min-width: 0;
  padding: var(--token-JFSS6sSimwWg);
}
.svg__g3NRr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MkNK8HnaRKfZ);
  height: 1em;
}
.cmsEntryField__uQQx:global(.__wab_instance) {
  font-family: var(--token-GpKDDbwq26at);
  font-size: var(--token-3KmqYMiXkSna);
  font-weight: 400;
  line-height: var(--token-HHYdF0z0DA2q);
  object-fit: cover;
  max-width: 100%;
  color: var(--token-B0qKLpHjT84g);
}
.noiseOverlay__dfJt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: none;
  z-index: 2;
}
.freeBox___5QeFc {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-c2hVMrY7CCPE);
  min-width: 0;
  min-height: 0;
}
.freeBox__soZho {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  min-width: 0;
  margin: -4px 0px 0px;
}
.offsetCmyk__jr5Hn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: var(--token-6U10-UCl9glp);
  min-width: 0;
  min-height: 0;
}
.image__tPqGa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__gn4Il {
  background: var(--token-hRuVqbYqll8H);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
.tornSection___3PrAn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 2;
  filter: blur(0px);
  width: 100%;
  margin-top: -6px;
  height: 100%;
  font-style: normal;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 160px;
  min-width: 0;
  min-height: 0;
}
.freeBox__feoX5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  column-gap: var(--token-iwe0xEFQVBJd);
  min-width: 0;
  min-height: 0;
  padding: var(--token-K0mS66ClT3RA);
}
@media (max-width: 640px) {
  .freeBox__feoX5 {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-iwe0xEFQVBJd);
    column-gap: 0px;
    padding: var(--token-iwe0xEFQVBJd);
  }
}
.freeBox__xFfEu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-start;
  row-gap: var(--token-JFSS6sSimwWg);
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}
.inkBleed___28Jzj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cmsEntryField__pmeDw:global(.__wab_instance) {
  font-family: var(--token-EUpeeAVPEkal);
  font-size: var(--token-vuFAuqFlonPF);
  font-weight: 600;
  line-height: var(--token-V-GxQ983VzzK);
  color: var(--token-zT50wK_s6GQj);
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
}
.cmsEntryField__ddsi:global(.__wab_instance) {
  font-family: var(--token-GpKDDbwq26at);
  font-size: var(--token-g6xRGSOpmOY4);
  font-weight: 500;
  line-height: var(--token-0BpAuOlR_ryf);
  color: var(--token-zT50wK_s6GQj);
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___41QhX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-JFSS6sSimwWg);
}
@media (max-width: 640px) {
  .freeBox___41QhX {
    display: flex;
    flex-direction: row;
    column-gap: var(--token-JFSS6sSimwWg);
    row-gap: 0px;
  }
}
.offsetImage__c47R:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 640px) {
  .offsetImage__c47R:global(.__wab_instance) {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.button__dfAjz:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .button__dfAjz:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox4 {
  animation: none;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 1;
  background: #000000;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-yBp3zIJjjXFk);
  padding: 0px;
}
.svg__grBuz {
  position: relative;
  height: 1em;
}
.text__zmmpr {
  white-space: pre;
  z-index: 5;
  color: #ffffff;
}
.svg__j0Xov {
  position: relative;
  z-index: 6;
  color: #ffffff;
  height: 1em;
}
.freeBox3 {
  animation: none;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 5;
  background: #000000;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-yBp3zIJjjXFk);
  padding: 0px;
}
.button__wcEqo:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .button__wcEqo:global(.__wab_instance):global(.__wab_instance) {
    height: var(--token-RbgYmGUTHvB4);
    width: 130px;
    flex-shrink: 0;
  }
}
.freeBox___0P5Oe {
  animation: none;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  border-radius: var(--token-yBp3zIJjjXFk);
  padding: 0px;
}
.svg__dzWe9 {
  position: relative;
  height: 1em;
}
.text__qDOgf {
  white-space: pre;
  z-index: 55;
  color: var(--token-tvApPEHD7oPk);
}
.svg__e408V {
  position: relative;
  color: var(--token-tvApPEHD7oPk);
  height: 1em;
}
.noiseOverlay__c0Oc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: none;
  z-index: 2;
}
.freeBox___71K9A {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-QQ6ClAm082fZ);
  min-width: 0;
  min-height: 0;
}
.text__oc6Ad {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.shimmer__fu31N:global(.__wab_instance) {
  width: 100%;
  height: 600px;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.shimmer__yVs7W:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.5;
  min-height: 0;
}
.cmsPaginationControls__iLkMx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--token-doCHQ9G8_OsB);
  column-gap: var(--token-XOrZk8yJ8Gx5);
}
@media (max-width: 640px) {
  .cmsPaginationControls__iLkMx:global(.__wab_instance) {
    margin-top: var(--token-iwe0xEFQVBJd);
  }
}
.svg__kK1Qx {
  object-fit: cover;
  max-width: 100%;
  width: 75px;
  height: 100%;
  color: var(--token-5QKIfNB0tRzE);
  min-height: 0;
}
.svg___4IaMu {
  object-fit: cover;
  max-width: 100%;
  width: 75px;
  height: 100%;
  color: var(--token-5QKIfNB0tRzE);
  min-height: 0;
}
.pageButton__rbWaS:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kwd8K {
  object-fit: cover;
  max-width: 100%;
  width: 75px;
  height: 100%;
  color: var(--token-tt4LcQz9DuF0);
  opacity: 0.4;
  min-height: 0;
}
.svg__rtLfu {
  object-fit: cover;
  max-width: 100%;
  width: 75px;
  height: 100%;
  color: var(--token-tt4LcQz9DuF0);
  opacity: 0.4;
  min-height: 0;
}
.scrollParallax___9Xy4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: auto;
  top: 22px;
  right: 109px;
}
.freeBox__awWL {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  max-width: 100%;
  justify-self: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
}
.halftoneMask__qkJjM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .halftoneMask__qkJjM:global(.__wab_instance) {
    left: 0px;
    top: 0px;
  }
}
.image__jTA3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.halftoneMask__tpFRq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
}
@media (max-width: 640px) {
  .halftoneMask__tpFRq:global(.__wab_instance) {
    left: 0px;
    top: 0px;
  }
}
.image__zpiN2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.scrollParallax__koAjO:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: -322px;
  top: auto;
  bottom: 0;
}
.freeBox___4ElwX {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  max-width: 100%;
  justify-self: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
}
@media (max-width: 640px) {
  .freeBox___4ElwX {
    left: auto;
    bottom: auto;
    top: auto;
  }
}
.halftoneMask__mLp1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: -4px;
  top: -3px;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  min-width: 0;
  min-height: 0;
}
.image___2FQh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.halftoneMask__o9CWe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
}
.image__gdzFk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.tornSection__cS5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  z-index: 1;
  background: var(--token-1eLMIVqDoDbF);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: var(--token-jWov7Jl9cj7m) var(--token-k_TczuRoYLJB);
  margin: -8px;
}
@media (max-width: 640px) {
  .tornSection__cS5:global(.__wab_instance) {
    padding: var(--token-OBRata9djSd9) var(--token-K0mS66ClT3RA);
  }
}
.freeBox__ontuW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-OBRata9djSd9);
  min-width: 0;
}
.freeBox__lwbPi {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-Fy7olHbm4g2T);
  min-width: 0;
}
.inkBleed__v5CXq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h1__eI8Pi {
  color: var(--token-B0qKLpHjT84g);
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__vToRk {
  color: var(--token-B0qKLpHjT84g);
  font-family: var(--token-GpKDDbwq26at);
  font-size: var(--token-g6xRGSOpmOY4);
  font-weight: 500;
  line-height: var(--token-0BpAuOlR_ryf);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.inkBleed__o47Sj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: auto;
  top: auto;
  z-index: 2;
  bottom: 68px;
  right: -60px;
}
.scotchTape__bHcDt:global(.__wab_instance) {
  width: 200px;
  height: 40px;
  max-width: 100%;
  object-fit: cover;
  filter: none;
}
@media (max-width: 640px) {
  .scotchTape__bHcDt:global(.__wab_instance) {
    width: 100px;
  }
}
.freeBox__wU98 {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-5QKIfNB0tRzE);
  opacity: 0.6;
  min-width: 0;
  min-height: 0;
}
.inkBleed__oUjo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: -24px;
  top: 132px;
  z-index: 2;
}
.scotchTape__dipUf:global(.__wab_instance) {
  width: 200px;
  height: 40px;
  max-width: 100%;
  object-fit: cover;
  filter: none;
  z-index: 2;
}
@media (max-width: 640px) {
  .scotchTape__dipUf:global(.__wab_instance) {
    width: 150px;
  }
}
.freeBox__lbChF {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-aXuLypa7xfma);
  opacity: 0.6;
  min-width: 0;
  min-height: 0;
}
.cmsPaginationContext__pae3C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 1;
  overflow: visible;
  width: 100%;
  min-width: 0;
}
.cmsDataFetcher__zRpg:global(.__wab_instance) {
  width: 100%;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  z-index: 2;
  grid-column-gap: var(--token-aRWQsRb09ChY);
  grid-row-gap: var(--token-aRWQsRb09ChY);
  min-width: 0;
}
@media (max-width: 640px) {
  .cmsDataFetcher__zRpg:global(.__wab_instance) {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-iwe0xEFQVBJd);
    column-gap: 0px;
  }
}
.inkBleed__iAnMy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__tieWb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  filter: none;
  min-width: 0;
  border-radius: var(--token-7usfeyN57SGU);
  border: 1px solid var(--token-WYpfNa69vqXU);
}
.offsetCmyk__fKPzy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: var(--token-6U10-UCl9glp);
  min-height: 600px;
  min-width: 0;
}
@media (max-width: 640px) {
  .offsetCmyk__fKPzy:global(.__wab_instance) {
    min-height: 450px;
  }
}
.image__zzAph:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.dotOverlay:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}
.tornSection__wiM5H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 2;
  width: 100%;
  margin-top: -4px;
  min-width: 0;
}
.freeBox___43TRd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-JFSS6sSimwWg);
  min-width: 0;
  padding: var(--token-JFSS6sSimwWg);
}
.svg__ue2Mc {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MkNK8HnaRKfZ);
  height: 1em;
}
.cmsEntryField__gKmNw:global(.__wab_instance) {
  font-family: var(--token-GpKDDbwq26at);
  font-size: var(--token-3KmqYMiXkSna);
  font-weight: 400;
  line-height: var(--token-HHYdF0z0DA2q);
  object-fit: cover;
  max-width: 100%;
  color: var(--token-B0qKLpHjT84g);
  width: auto;
  white-space: pre;
}
.cmsEntryField__d6YS:global(.__wab_instance) {
  font-family: var(--token-GpKDDbwq26at);
  font-size: var(--token-3KmqYMiXkSna);
  font-weight: 400;
  line-height: var(--token-HHYdF0z0DA2q);
  object-fit: cover;
  max-width: 100%;
  color: var(--token-B0qKLpHjT84g);
  width: 100%;
  min-width: 0;
}
.noiseOverlay__lG8If:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: none;
  z-index: 2;
}
.freeBox__ycTs3 {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-WRRVAbe826uH);
  min-width: 0;
  min-height: 0;
}
.text__fv2Hq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.shimmer__exB5U:global(.__wab_instance) {
  width: 100%;
  height: 550px;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.shimmer__gse6N:global(.__wab_instance) {
  width: 100%;
  height: 550px;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.shimmer___0MSwR:global(.__wab_instance) {
  width: 100%;
  height: 550px;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
@media (max-width: 640px) {
  .shimmer___0MSwR:global(.__wab_instance) {
    display: none;
  }
}
.shimmer__bEjJl:global(.__wab_instance) {
  width: 100%;
  height: 550px;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
@media (max-width: 640px) {
  .shimmer__bEjJl:global(.__wab_instance) {
    display: none;
  }
}
.cmsPaginationControls___6TwdZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--token-doCHQ9G8_OsB);
  column-gap: var(--token-XOrZk8yJ8Gx5);
}
@media (max-width: 640px) {
  .cmsPaginationControls___6TwdZ:global(.__wab_instance) {
    margin-top: var(--token-iwe0xEFQVBJd);
  }
}
.svg___2Lnlv {
  object-fit: cover;
  max-width: 100%;
  width: 75px;
  height: 100%;
  color: var(--token-5QKIfNB0tRzE);
  min-height: 0;
}
.svg__obEqp {
  object-fit: cover;
  max-width: 100%;
  width: 75px;
  height: 100%;
  color: var(--token-5QKIfNB0tRzE);
  min-height: 0;
}
.pageButton__vSbI3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hMmSo {
  object-fit: cover;
  max-width: 100%;
  width: 75px;
  height: 100%;
  color: var(--token-tt4LcQz9DuF0);
  opacity: 0.4;
  min-height: 0;
}
.svg__xYkOc {
  object-fit: cover;
  max-width: 100%;
  width: 75px;
  height: 100%;
  color: var(--token-tt4LcQz9DuF0);
  opacity: 0.4;
  min-height: 0;
}
.freeBox__u2Onx {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-XV0X8meVfffB);
  min-width: 0;
}
.scrollMarquee__pygIq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  margin: -8px;
}
.offsetCmyk__vr2Kf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 90px;
  width: 1200px;
}
.image__kj7Fs:global(.__wab_instance) {
  max-width: 100%;
}
.offsetCmyk___8LzyA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 90px;
  width: 1200px;
}
.image__dMfae:global(.__wab_instance) {
  max-width: 100%;
}
